<h1>Create a New Deck</h1>
<form>
  <label for='deck-name'>Deck-Name</label>
  <input name='deck-name' />
  <label for='question'>Question:</label>
  <input name='question' />
  <br>
  <label for='answer'>Answer:</label>
  <input name='answer' />
  <label for='question-image-url'>Question Image URL (optional):</label>
  <input name='question-image-url'>
  <label for='answer-image-url'>Answer Image URL (optiional):</label>
  <input name='answer-image-url' />
  <button type='button'>Create Deck!</button>
</form>
